.container {
  background-color: white;
  border-radius: 20px;
  animation: fadeIn 0.5s ease;
  margin-bottom: 100px;
}

.posterContainer {
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
  padding: 10px;
  align-items: flex-start;
  justify-content: space-around;
}

.poster {
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.imageContainer {
  position: relative;
}

.favoriteIcon {
  position: absolute;
  background-color: #dbd3d3;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  padding: 4px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 5px 10px 10px;
  width: 50%;
}

.detailsInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailsGenres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
.detailsGenresGenre {
  font-size: 12px;
}

.detailsTagline {
  color: gray;
  font-size: 12px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title h2 {
  font-size: 20px;
}

.detailsRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.detailsRating p {
  font-size: 20px;
}

.dataBlock {
  display: flex;
  background-color: white;
  overflow: scroll;
  width: 100%;
}

.dataBlock_castRev {
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: all 0.5s ease;
}
.sideInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
  gap: 15px;
}
.sideInfoDescription {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 85%;
  padding: 10px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
  border-radius: 10px;
}

.sideInfoDescription p b {
  font-size: 15px;
  color: var(--secondary-color);
}

.sideInfoExtraInfo {
  /* -webkit-box-shadow: -20px 0px 10px 2px rgba(255, 255, 255, 0.8); */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}

.extraInfo_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.extraInfo_item_title {
  font-weight: bold;
}
.extraInfo_item_text {
  font-size: 14px;
}

.extras {
  display: flex;
  margin-top: 40px;
  gap: 5px;
  justify-content: space-around;
}

.extrasButton {
  width: 40%;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
  color: black;
  box-shadow: 0px 0px 5px 4px rgba(235, 235, 235, 1);
}

.extrasButtonActive {
  background-color: var(--main-color);
  color: white;
}
.component {
  display: none;
}
.activeComponent {
  transition: all 0.5s ease;
  display: block;
}

.tabletDescription {
  display: none;
}
.sideInfoExtraInfoTablet {
  display: none;
}

.line {
  width: 80%;
  color: gray;
}
.detailsOverview {
  padding: 10px;
}

.elContainer {
  position: relative;
}

.fadeElement {
  width: 100px;
  height: 100%;
  position: absolute;
  z-index: 999;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  right: 0;
  opacity: 0.6;
}

@media (min-width: 480px) {
  .poster {
    height: 430px;
    width: 270px;
  }
  .title {
    gap: 40px;
  }
  .details {
    gap: 30px;
    padding-left: 10px;
  }
  .sideInfoExtraInfo {
    gap: 50px;
  }
  .extraInfo_item_title {
    font-weight: bold;
    font-size: 20px;
  }
  .extraInfo_item_text {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .title {
    gap: 10px;
  }
  .poster {
    height: 500px;
    width: 330px;
  }
  .tabletDescription {
    display: block;
  }
  .sideInfoDescription {
    display: none;
  }
  .sideInfoExtraInfo {
    display: none;
  }

  .sideInfoExtraInfoTablet {
    display: flex;
    gap: 15px;
  }
  .line {
    display: none;
  }
  .title h2 {
    font-size: 35px;
  }

  .detailsInfo {
    font-size: 20px;
  }
  .details {
    gap: 30px;
  }
}

@media (min-width: 1200px) {
  .posterContainer {
    gap: 20px;
    justify-content: center;
  }
  .poster {
    height: 600px;
    width: 400px;
  }
  .title {
    gap: 20px;
  }
  .tabletDescription {
    display: block;
  }
  .details {
    gap: 40px;
  }
  .sideInfoDescription {
    display: none;
  }
  .sideInfoExtraInfo {
    display: none;
  }
  .sideInfoExtraInfoTablet {
    display: flex;
    gap: 50px;
  }
  .title h2 {
    font-size: 40px;
  }
  .detailsRating p {
    font-size: 40px;
  }
  .detailsGenresGenre {
    font-size: 20px;
  }
  .detailsInfo {
    font-size: 20px;
  }
  .detailsTagline {
    font-size: 15px;
  }
  .detailsOverview {
    font-size: 20px;
  }

  .extraInfo_item_title {
    font-size: 25px;
  }

  .extraInfo_item_text {
    font-size: 20px;
  }

  .extras {
    margin-bottom: 50px;
  }

  .extrasButton {
    font-size: 20px;
    padding: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
