.container {
  background-color: white;
  border-radius: 20px;
}

.posterContainer {
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
  padding: 5px;
  align-items: flex-start;
  justify-content: space-around;
}

.poster {
  width: 40%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 5px 10px 10px;
  width: 50%;
}

.detailsInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailsGenres {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.detailsGenresGenre {
  font-size: 12px;
}

.detailsTagline {
  color: gray;
  font-size: 12px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title h2 {
  font-size: 20px;
}

.detailsRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.detailsRating p {
  font-size: 20px;
}

.dataBlock {
  display: flex;
  background-color: white;
}

.dataBlock_castRev {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  transition: all 0.5s ease;
}
.sideInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 15px;
}
.sideInfoDescription {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 55%;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.sideInfoDescription p b {
  font-size: 15px;
  color: var(--secondary-color);
}

.sideInfoExtraInfo {
  /* -webkit-box-shadow: -20px 0px 10px 2px rgba(255, 255, 255, 0.8); */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
}

.extraInfo_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.extraInfo_item_text {
  font-weight: bold;
}

.extras {
  display: flex;
  margin-top: 20px;
  gap: 5px;
  justify-content: space-around;
}

.extrasButton {
  width: 40%;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
  color: black;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(235, 235, 235, 1);
}

.extrasButtonActive {
  background-color: var(--main-color);
  color: white;
}
.component {
  display: none;
}
.activeComponent {
  transition: all 0.5s ease;
  display: block;
}

.tabletDescription {
  display: none;
}
.sideInfoExtraInfoTablet {
  display: none;
}

@media (min-width: 480px) and (max-width: 1200px) {
  .title {
    gap: 20px;
  }
  .tabletDescription {
    display: block;
  }
  .details {
    gap: 30px;
  }
  .sideInfoDescription {
    display: none;
  }
  .sideInfoExtraInfo {
    display: none;
  }
  .sideInfoExtraInfoTablet {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .title {
    gap: 20px;
  }
  .tabletDescription {
    display: block;
  }
  .details {
    gap: 30px;
  }
  .sideInfoDescription {
    display: none;
  }
  .sideInfoExtraInfo {
    display: none;
  }
  .sideInfoExtraInfoTablet {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .title h2 {
    font-size: 40px;
  }
  .detailsRating p {
    font-size: 40px;
  }
  .detailsGenresGenre {
    font-size: 20px;
  }
  .detailsInfo {
    font-size: 20px;
  }
  .detailsTagline {
    font-size: 15px;
  }
  .detailsOverview {
    font-size: 20px;
  }
  .extraInfo_item p {
    font-size: 20px;
  }
  .sideInfoExtraInfoTablet {
    justify-content: space-evenly;
  }
}
