.reviewsHead {
  font-weight: bold;
  text-decoration: underline;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  padding: 5px 10px;
  gap: 10px;
}

.listItem {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.reviewerContainer {
  display: flex;
}

.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  width: 100%;
}

.reviewContent {
  padding: 10px;
  overflow: hidden;
}

.content {
  margin: 0;
}

.showMore {
  color: var(--main-color);
}
