.container {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin-top: 20px;
  animation: fadeIn 0.5s ease;
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.listItem:last-child {
  border-bottom: none;
}

.reviewerContainer {
  display: flex;
  width: 30%;
  border-right: 1px solid lightgray;
  padding: 15px 0;
}

.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.reviewerName {
  text-align: center;
}

.reviewContent {
  overflow: hidden;
  width: 70%;
  transition: max-height 0.5s ease;
  max-height: 300px;
  padding: 15px 5px;
}

.showMoreButton {
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
}

.showMore {
  max-height: 5000px;
}

.reviewText {
  line-height: 1.8em;
}

.showLess {
  max-height: 300px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 480px) {
  .reviewerContainer {
    padding: 20px 0;
  }

  .reviewContent {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    border-radius: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes minimize {
  0% {
    max-height: 2000px;
  }
  100% {
    max-height: 300px;
  }
}
