@import '../variables.css';

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
  padding: 15px 20px;
  align-items: center;
}

.navigationRight {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  width: 50%;
  justify-content: flex-end;
}

.titleFirst {
  color: var(--main-color);
}

.titleSecond {
  color: var(--secondary-color);
}

.titleFirst,
.titleSecond {
  font-weight: bold;
  font-size: 22px;
}

.linkOption {
  color: var(--text-color);
  font-weight: bold;

  font-size: 14px;
  transition: color 0.4s ease;
}

.linkOption:hover {
  color: var(--main-color);
}

.activeLink {
  color: var(--main-color);
  font-weight: bold;
}

.userButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 480px) {
  .titleFirst,
  .titleSecond {
    font-size: 20px;
  }
  .linkOption {
    font-size: 18px;
  }

  .navigationRight {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .titleFirst,
  .titleSecond {
    font-size: 25px;
  }
  .linkOption {
    font-size: 22px;
  }
  .navigation {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .titleFirst,
  .titleSecond {
    font-size: 30px;
  }

  .linkOption {
    font-size: 25px;
  }
}
