.list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 15px;
}

.listItem {
  box-sizing: content-box;
  width: 40%;
}
